@charset "UTF-8";
body{
	overflow-y:none;
	position:relative;
	margin:0;
}
.body-container{
	margin-top:10px;
	 display: flex;
	 flex-wrap: wrap;
	    gap: 20px; 
	 
}
.main{
	display:flex;
}
#title{
	color:red;
	padding:0;
	margin:0;
}
#menu{
	margin-top:5px;
	margin-left:40px;
	border:none;
	height:25px;
	width:100px;
}
img#logo{
	width:20px;
	height:20px;
}
#cart{
	margin-top:25px;
}
.menu-block{
    position:absolute;
	display:none;
	height:125px;
	padding:10px;
	flex-direction:column;
	background-color:red;
	margin-left:125px;
	margin-top:75px;
	
}
.menu-block>a{
	text-decoration:none;
	margin-top:5px;
}
#search-block{
  width: 500px;
  height: 25px;
  margin-left:250px;
}
#search-img {
  height:20px;
  width:20px;
}
#search{
	height:30px;
}
#profile{
	height:25px;
	width:25px;
	margin-left:550px;
}
.profile-container {
    background-color: red;
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 25px;
    margin-left: 92%;
    width: 100px;
    height: 500px;
    padding: 10px;
}
#your-profile{
	width: 90%;
	height: 50px;
	margin-top:10px;
}
#your-orders{
	width: 90%;
	height: 50px;
	margin-top:10px;
}
#your-cart{
	width: 90%;
	height: 50px;
	margin-top:10px;
}
#Wallet{
	width: 90%;
	height: 50px;
	margin-top:10px;
}
#logout{
	width: 90%;
	height: 50px;
	margin-top:10px;
}
.images>img{
	width:100px;
	height:100px;
	margin-top:10px;
}
.body{
	margin-top:50px;
	display:flex;
	padding:0;
	padding-right:100px;
}
.BuyMenu {
	display:none;
    margin-top: 300px;
    background-color:blue;
	position:absolute;
	height:200px;
	width:300px;
	z-index:1;
}
.images{
	gap: 10px 20px;
	width:100px;
	height:100px;
}
.footer{
	margin-top:180px;
	width:1550px;
	height:110px;
	background: red;
}
.description{
   
	margin-top: 10px;
}
.Item-container{
	display: flex;
   text-align: center;
  flex-direction: column;
  align-items: center;
}
